!!!
%html
  %head
    %title HELLO!
  %body{:style => "background: silver; text-align: center; margin: 10px auto"}
    %h2 Level 1 (3x3) - Click on floor...
    %h1 8
    - var = @i * @j - @j + 1 
    %table{:style=> "padding: 5px; margin: 10px auto"}
      - 1.upto(@i) do |rows|
        %tr
          - 1.upto(@j) do
            %td{:style=> "padding: 50px;"}
              = var
              -var += 1
          - var -= 2*@j
      
    Thanks
        

    