!!!
%html
  %head
    %title You're in an elevator! Click your way to the top!
  %body{:style => "text-align: center; width: 100%; margin: 0px auto"}
    #results
      %table{:style=> "padding: 20px; text-align: center; width: 100%; margin: 20px auto; font-size: 14px"}
        %tr
          %td Config
          %td 0: Normal elevator, lobby button up top
      
          %td 1: Normal elevator
      
          %td 2: Upside-down buttons, big bottom lobby  
        %tr
          %td{:colspan => "4"} Experiment 1: The Lobby  - .pickme chooses bottom-most
        %tr
          %td
            =@Acount
            All
            %br
            prompts: 
            =@Alobby
            %br
            drops: 
            =@Alobbydrops
            %br
            !nulls: 
            =@Alobbynotnull
            %br
            !nAvgTTC:
            =@AlobbynotnullavgTTC
            %br
            Bigs:
            =@Alobbytop
          %td
            prompts: 
            =@Alobby0
            %br
            drops:
            =@Alobby0drops
            %br
            !nulls: 
            =@Alobby0notnull
            %br
            !nAvgTTC:
            =@Alobby0notnullavgTTC
            %br
            Big:
            =@Alobby0top
          %td
            prompts: 
            =@Alobby1
            %br
            drops:
            =@Alobby1drops
            %br
            !nulls: 
            =@Alobby1notnull
            %br
            !nAvgTTC:
            =@Alobby1notnullavgTTC
            %br
            Big:
            =@Alobby1top
          %td
            prompts 
            =@Alobby2
            %br
            drops:
            =@Alobby2drops
            %br
            !nulls:
            =@Alobby2notnull
            %br
            !nAvgTTC:
            =@Alobby2notnullavgTTC
            %br
            Big:
            =@Alobby2top
        %tr
          %td
            =@UScount
            Unskilled (< 21 ridecount)
            %br
            prompts: 
            =@USlobby
            %br
            drops: 
            =@USlobbydrops
            %br
            !nulls: 
            =@USlobbynotnull
            %br
            !nAvgTTC:
            =@USlobbynotnullavgTTC
            %br
            Big:
            =@USlobbytop
          %td
            prompts:
            =@USlobby0
            %br
            drops:
            =@USlobby0drops
            %br
            !nulls: 
            =@USlobby0notnull
            
            %br
            !nAvgTTC:
            =@USlobby0notnullavgTTC
            
            %br
            Big:
            =@USlobby0top
          %td
            prompts:
            =@USlobby1
            %br
            drops:
            =@USlobby1drops
            %br
            !nulls: 
            =@USlobby1notnull
            %br
            !nAvgTTC:
            =@USlobby1notnullavgTTC
            %br
            Big:
            =@USlobby1top
          %td
            prompts:
            =@USlobby2
            %br
            drops:
            =@USlobby2drops
            %br
            !nulls:
            =@USlobby2notnull
            %br
            !nAvgTTC:
            =@USlobby2notnullavgTTC
            %br
            Big:
            =@USlobby2top
        %tr
          %td
            =@Scount
            Skilled (21 <= ridecount < 50)
            %br
            prompts: 
            =@Slobby
            %br
            drops: 
            =@Slobbydrops
            %br
            !nulls: 
            =@Slobbynotnull
            %br
            !nAvgTTC:
            =@SlobbynotnullavgTTC
            %br
            Big:
            =@Slobbytop
          %td
            prompts:
            =@Slobby0
            %br
            drops:
            =@Slobby0drops
            %br
            !nulls: 
            =@Slobby0notnull
            %br
            !nAvgTTC:
            =@Slobby0notnullavgTTC
            
            %br
            Big:
            =@Slobby0top
          %td
            prompts:
            =@Slobby1
            %br
            drops:
            =@Slobby1drops
            %br
            !nulls: 
            =@Slobby1notnull
            %br
            !nAvgTTC:
            =@Slobby1notnullavgTTC
            %br
            Big:
            =@Slobby1top
          %td
            prompts:
            =@Slobby2
            %br
            drops:
            =@Slobby2drops
            %br
            !nulls:
            =@Slobby2notnull
            %br
            !nAvgTTC:
            =@Slobby2notnullavgTTC
            %br
            Big:
            =@Slobby2top
        %tr
          %td
            =@Pcount
            Power (50 <= ridecount <100)
            %br
            prompts: 
            =@Plobby
            %br
            drops: 
            =@Plobbydrops
            %br
            !nulls: 
            =@Plobbynotnull
            %br
            !nAvgTTC:
            =@PlobbynotnullavgTTC
            %br
            Big:
            =@Plobbytop
          %td
            prompts:
            =@Plobby0
            %br
            drops:
            =@Plobby0drops
            %br
            !nulls: 
            =@Plobby0notnull
            %br
            !nAvgTTC:
            =@Plobby0notnullavgTTC
            %br
            Big:
            =@Plobby0top
          %td
            prompts:
            =@Plobby1
            %br
            drops:
            =@Plobby1drops
            %br
            !nulls: 
            =@Plobby1notnull
            %br
            !nAvgTTC:
            =@Plobby1notnullavgTTC
            %br
            Big:
            =@Plobby1top
          %td
            prompts:
            =@Plobby2
            %br
            drops:
            =@Plobby2drops
            %br
            !nulls:
            =@Plobby2notnull
            %br
            !nAvgTTC:
            =@Plobby2notnullavgTTC
            
            %br
            Big:
            =@Plobby2top
        
        %tr
          %td
            =@Ccount
            Cents (100 <= ridecount < 500)
            %br
            prompts: 
            =@Clobby
            %br
            drops: 
            =@Clobbydrops
            %br
            !nulls: 
            =@Clobbynotnull
            %br
            !nAvgTTC:
            =@ClobbynotnullavgTTC
            %br
            Big:
            =@Clobbytop
          %td
            prompts:
            =@Clobby0
            %br
            drops:
            =@Clobby0drops
            %br
            !nulls: 
            =@Clobby0notnull
            %br
            !nAvgTTC:
            =@Clobby0notnullavgTTC
            %br
            Big:
            =@Clobby0top
          %td
            prompts:
            =@Clobby1
            %br
            drops:
            =@Clobby1drops
            %br
            !nulls: 
            =@Clobby1notnull
            %br
            !nAvgTTC:
            =@Clobby1notnullavgTTC
            %br
            Big:
            =@Clobby1top
          %td
            prompts:
            =@Clobby2
            %br
            drops:
            =@Clobby2drops
            %br
            !nulls:
            =@Clobby2notnull
            %br
            !nAvgTTC:
            =@Clobby2notnullavgTTC
            %br
            Big:
            =@Clobby2top

        %tr
          %td
            =@Tcount
            Trickery (ridecount >= 500)
            %br
            prompts: 
            =@Tlobby
            %br
            drops: 
            =@Tlobbydrops
            %br
            !nulls: 
            =@Tlobbynotnull
            %br
            !nAvgTTC:
            =@TlobbynotnullavgTTC
            %br
            Big:
            =@Tlobbytop
          %td
            prompts:
            =@Tlobby0
            %br
            drops:
            =@Tlobby0drops
            %br
            !nulls: 
            =@Tlobby0notnull
            %br
            !nAvgTTC:
            =@Tlobby0notnullavgTTC
            %br
            Big:
            =@Tlobby0top
          %td
            prompts:
            =@Tlobby1
            %br
            drops:
            =@Tlobby1drops
            %br
            !nulls: 
            =@Tlobby1notnull
            %br
            !nAvgTTC:
            =@Tlobby1notnullavgTTC
            %br
            Big:
            =@Tlobby1top
          %td
            prompts:
            =@Tlobby2
            %br
            drops:
            =@Tlobby2drops
            %br
            !nulls:
            =@Tlobby2notnull
            %br
            !nAvgTTC:
            =@Tlobby2notnullavgTTC
            %br
            Big:
            =@Tlobby2top

