%html
  %head
    %title You're in an elevator! Click your way to the top!
  %body{:style => "text-align: center; width: 100%; margin: 0px auto"}
    #results
      %table{:style => "padding: 20px; text-align: center; width: 100%; margin: 20px auto; font-size: 14px"}
        %tr
          %td{:colspan => "4"}
            %a{:href => "http://www.theelevatorgame.com", :style => "color: gold"} TheElevatorGame.com
            is a project for a
            %a{:href => "http://www.joshrweinstein.com", :style => "color: gold"} JoshRWeinstein.com
            blog post on UX -- static results page generated on 2/5/2012
        %tr
          %td{:colspan => "4"}
            %a{:href => "http://www.theelevatorgame.com/all", :style => "color: gold"} Feel free to play with the live data here
        %tr
          %td Config
          %td 0: Normal elevator, lobby button up top
          %td 1: Normal elevator
          %td 2: Upside-down buttons, big bottom lobby
        %tr
          %td{:colspan => "4"} Experiment 1: The Lobby  - .pickme chooses bottom-most
        %tr
          %td
            1250
            All
            %br
              prompts:
              23217
              %br
                drops:
                914
                %br
                  \!nulls:
                  22303
                  %br
                    \!nAvgTTC:
                    0.933685106815918
                    %br
                      Bigs:
                      10982
          %td
            ppl:
            419
            %br
              prompts:
              11987
              %br
                drops:
                358
                %br
                  \!nulls:
                  11629
                  %br
                    \!nAvgTTC:
                    0.548527311951843
                    %br
                      Big:
                      9954
                      %br
                        \!nAVGBTTC:
                        0.374520446006931
          %td
            ppl:
            407
            %br
              prompts:
              8040
              %br
                drops:
                323
                %br
                  \!nulls:
                  7717
                  %br
                    \!nAvgTTC:
                    0.728960918774912
                    %br
                      Big:
                      0
                      %br
                        \!nAVGBTTC:
          %td
            ppl:
            424
            %br
              prompts:
              3190
              %br
                drops:
                233
                %br
                  \!nulls:
                  2957
                  %br
                    \!nAvgTTC:
                    1.523567089721
                    %br
                      Big:
                      1028
                      %br
                        \!nAVGBTTC:
                        1.50502134308171
        %tr
          %td
            273
            Unskilled: <10
            %br
              prompts:
              392
              %br
                drops:
                121
                %br
                  \!nulls:
                  271
                  %br
                    \!nAvgTTC:
                    1.86642987367376
                    %br
                      Bigs:
                      54
          %td
            ppl:
            97
            %br
              prompts:
              136
              %br
                drops:
                50
                %br
                  \!nulls:
                  86
                  %br
                    \!nAvgTTC:
                    2.02279203316279
                    %br
                      Big:
                      39
                      %br
                        \!nAVGBTTC:
                        1.95420776994872
          %td
            ppl:
            83
            %br
              prompts:
              129
              %br
                drops:
                39
                %br
                  \!nulls:
                  90
                  %br
                    \!nAvgTTC:
                    1.66893118931111
                    %br
                      Big:
                      0
                      %br
                        \!nAVGBTTC:
          %td
            ppl:
            93
            %br
              prompts:
              127
              %br
                drops:
                32
                %br
                  \!nulls:
                  95
                  %br
                    \!nAvgTTC:
                    1.90756639854737
                    %br
                      Big:
                      15
                      %br
                        \!nAVGBTTC:
                        1.80550308846667
        %tr
          %td
            307
            Skilled: 10-20
            %br
              prompts:
              1010
              %br
                drops:
                135
                %br
                  \!nulls:
                  875
                  %br
                    \!nAvgTTC:
                    1.83972459096542
                    %br
                      Bigs:
                      136
          %td
            ppl:
            116
            %br
              prompts:
              403
              %br
                drops:
                53
                %br
                  \!nulls:
                  350
                  %br
                    \!nAvgTTC:
                    1.91738838143714
                    %br
                      Big:
                      102
                      %br
                        \!nAVGBTTC:
                        2.03368954203922
          %td
            ppl:
            86
            %br
              prompts:
              282
              %br
                drops:
                41
                %br
                  \!nulls:
                  241
                  %br
                    \!nAvgTTC:
                    1.77536682607884
                    %br
                      Big:
                      0
                      %br
                        \!nAVGBTTC:
          %td
            ppl:
            105
            %br
              prompts:
              325
              %br
                drops:
                41
                %br
                  \!nulls:
                  284
                  %br
                    \!nAvgTTC:
                    1.82641856538028
                    %br
                      Big:
                      34
                      %br
                        \!nAVGBTTC:
                        1.72614955526471
        %tr
          %td
            547
            Power: 21-50
            %br
              prompts:
              3486
              %br
                drops:
                323
                %br
                  \!nulls:
                  3163
                  %br
                    \!nAvgTTC:
                    1.69921005465745
                    %br
                      Bigs:
                      372
          %td
            ppl:
            162
            %br
              prompts:
              1000
              %br
                drops:
                84
                %br
                  \!nulls:
                  916
                  %br
                    \!nAvgTTC:
                    1.80577110860481
                    %br
                      Big:
                      220
                      %br
                        \!nAVGBTTC:
                        2.02680854155
          %td
            ppl:
            193
            %br
              prompts:
              1217
              %br
                drops:
                110
                %br
                  \!nulls:
                  1107
                  %br
                    \!nAvgTTC:
                    1.6844024554851
                    %br
                      Big:
                      0
                      %br
                        \!nAVGBTTC:
          %td
            ppl:
            192
            %br
              prompts:
              1269
              %br
                drops:
                129
                %br
                  \!nulls:
                  1140
                  %br
                    \!nAvgTTC:
                    1.60745659988246
                    %br
                      Big:
                      152
                      %br
                        \!nAVGBTTC:
                        1.6678304260329
        %tr
          %td
            84
            Superpower: 50-300
            %br
              prompts:
              1688
              %br
                drops:
                94
                %br
                  \!nulls:
                  1594
                  %br
                    \!nAvgTTC:
                    1.47641003457912
                    %br
                      Bigs:
                      146
          %td
            ppl:
            28
            %br
              prompts:
              625
              %br
                drops:
                26
                %br
                  \!nulls:
                  599
                  %br
                    \!nAvgTTC:
                    1.45390224332721
                    %br
                      Big:
                      88
                      %br
                        \!nAVGBTTC:
                        1.57187042173864
          %td
            ppl:
            30
            %br
              prompts:
              602
              %br
                drops:
                52
                %br
                  \!nulls:
                  550
                  %br
                    \!nAvgTTC:
                    1.53962005022364
                    %br
                      Big:
                      0
                      %br
                        \!nAVGBTTC:
          %td
            ppl:
            26
            %br
              prompts:
              461
              %br
                drops:
                16
                %br
                  \!nulls:
                  445
                  %br
                    \!nAvgTTC:
                    1.43570781018652
                    %br
                      Big:
                      58
                      %br
                        \!nAVGBTTC:
                        1.41398624806897
        %tr
          %td
            17
            Gamers: 300+
            %br
              prompts:
              16526
              %br
                drops:
                230
                %br
                  \!nulls:
                  16296
                  %br
                    \!nAvgTTC:
                    0.683013508811768
                    %br
                      Bigs:
                      10254
          %td
            ppl:
            5
            %br
              prompts:
              9766
              %br
                drops:
                138
                %br
                  \!nulls:
                  9628
                  %br
                    \!nAvgTTC:
                    0.302507429504984
                    %br
                      Big:
                      9487
                      %br
                        \!nAVGBTTC:
                        0.296821313503003
          %td
            ppl:
            9
            %br
              prompts:
              5783
              %br
                drops:
                79
                %br
                  \!nulls:
                  5704
                  %br
                    \!nAvgTTC:
                    0.403674804586957
                    %br
                      Big:
                      0
                      %br
                        \!nAVGBTTC:
          %td
            ppl:
            3
            %br
              prompts:
              977
              %br
                drops:
                13
                %br
                  \!nulls:
                  964
                  %br
                    \!nAvgTTC:
                    1.34285829234336
                    %br
                      Big:
                      767
                      %br
                        \!nAVGBTTC:
                        1.46215371578618
        %tr
          %td{:colspan => "4"} Experiment 2: Other buttons
        %tr
          %td
            1250
            All
            %br
              prompts:
              23217
              %br
                drops:
                914
                %br
                  \!nulls:
                  22303
                  %br
                    \!nAvgTTC:
                    0.933685106815918
          %td
            ppl:
            419
            %br
              prompts:
              11987
              %br
                drops:
                358
                %br
                  \!nulls:
                  11629
                  %br
                    \!nAvgTTC:
                    0.548527311951843
          %td
            ppl:
            407
            %br
              prompts:
              8040
              %br
                drops:
                323
                %br
                  \!nulls:
                  7717
                  %br
                    \!nAvgTTC:
                    0.728960918774912
          %td
            ppl:
            424
            %br
              prompts:
              3190
              %br
                drops:
                233
                %br
                  \!nulls:
                  2957
                  %br
                    \!nAvgTTC:
                    1.523567089721
        %tr
          %td
            273
            Unskilled: <10
            %br
              prompts:
              392
              %br
                drops:
                121
                %br
                  \!nulls:
                  271
                  %br
                    \!nAvgTTC:
                    1.86642987367376
          %td
            ppl:
            97
            %br
              prompts:
              136
              %br
                drops:
                50
                %br
                  \!nulls:
                  86
                  %br
                    \!nAvgTTC:
                    2.02279203316279
          %td
            ppl:
            83
            %br
              prompts:
              129
              %br
                drops:
                39
                %br
                  \!nulls:
                  90
                  %br
                    \!nAvgTTC:
                    1.66893118931111
          %td
            ppl:
            93
            %br
              prompts:
              127
              %br
                drops:
                32
                %br
                  \!nulls:
                  95
                  %br
                    \!nAvgTTC:
                    1.90756639854737
        %tr
          %td
            307
            Skilled: 10-20
            %br
              prompts:
              1010
              %br
                drops:
                135
                %br
                  \!nulls:
                  875
                  %br
                    \!nAvgTTC:
                    1.83972459096542
          %td
            ppl:
            116
            %br
              prompts:
              403
              %br
                drops:
                53
                %br
                  \!nulls:
                  350
                  %br
                    \!nAvgTTC:
                    1.91738838143714
          %td
            ppl:
            86
            %br
              prompts:
              282
              %br
                drops:
                41
                %br
                  \!nulls:
                  241
                  %br
                    \!nAvgTTC:
                    1.77536682607884
          %td
            ppl:
            105
            %br
              prompts:
              325
              %br
                drops:
                41
                %br
                  \!nulls:
                  284
                  %br
                    \!nAvgTTC:
                    1.82641856538028
        %tr
          %td
            547
            Power: 21-50
            %br
              prompts:
              3486
              %br
                drops:
                323
                %br
                  \!nulls:
                  3163
                  %br
                    \!nAvgTTC:
                    1.69921005465745
          %td
            ppl:
            162
            %br
              prompts:
              1000
              %br
                drops:
                84
                %br
                  \!nulls:
                  916
                  %br
                    \!nAvgTTC:
                    1.80577110860481
          %td
            ppl:
            193
            %br
              prompts:
              1217
              %br
                drops:
                110
                %br
                  \!nulls:
                  1107
                  %br
                    \!nAvgTTC:
                    1.6844024554851
          %td
            ppl:
            192
            %br
              prompts:
              1269
              %br
                drops:
                129
                %br
                  \!nulls:
                  1140
                  %br
                    \!nAvgTTC:
                    1.60745659988246
        %tr
          %td
            84
            Superpower: 50-300
            %br
              prompts:
              1688
              %br
                drops:
                94
                %br
                  \!nulls:
                  1594
                  %br
                    \!nAvgTTC:
                    1.47641003457912
          %td
            ppl:
            28
            %br
              prompts:
              625
              %br
                drops:
                26
                %br
                  \!nulls:
                  599
                  %br
                    \!nAvgTTC:
                    1.45390224332721
          %td
            ppl:
            30
            %br
              prompts:
              602
              %br
                drops:
                52
                %br
                  \!nulls:
                  550
                  %br
                    \!nAvgTTC:
                    1.53962005022364
          %td
            ppl:
            26
            %br
              prompts:
              461
              %br
                drops:
                16
                %br
                  \!nulls:
                  445
                  %br
                    \!nAvgTTC:
                    1.43570781018652
        %tr
          %td
            17
            Gamers: 300+
            %br
              prompts:
              16526
              %br
                drops:
                230
                %br
                  \!nulls:
                  16296
                  %br
                    \!nAvgTTC:
                    0.683013508811768
          %td
            ppl:
            5
            %br
              prompts:
              9766
              %br
                drops:
                138
                %br
                  \!nulls:
                  9628
                  %br
                    \!nAvgTTC:
                    0.302507429504984
          %td
            ppl:
            9
            %br
              prompts:
              5783
              %br
                drops:
                79
                %br
                  \!nulls:
                  5704
                  %br
                    \!nAvgTTC:
                    0.403674804586957
          %td
            ppl:
            3
            %br
              prompts:
              977
              %br
                drops:
                13
                %br
                  \!nulls:
                  964
                  %br
                    \!nAvgTTC:
                    1.34285829234336
        %tr
          %td{:colspan => "4"} Distribution of Ridecounts
        %tr
          %td{:colspan => "4"}
            %img{:src => "/distributionchart.png"}