<!DOCTYPE html>
<html>
<head>
  <title>The Elevator Game Clicking Challenge</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="The Elevator Game Clicking Challenge"/>
  <meta property="og:description" content="Think you can be the clicking champ? Then click your way to the top!"/>
  <meta content="http://theelevatorgame.com/elevatorgame.jpg" property="og:image" />
</head>
<body>

<%= yield %>

</body>
</html>
